# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Ignore compiled files only in the root
/main.js
/styles.css

# Do not ignore built files inside dist/
!dist/main.js
!dist/styles.css

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

package-lock.json
